.block-avatars ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-avatars ul li {
  float: left; /*LTR*/
  margin: 1px;
  padding: 1px;
  border: 1px solid #ccc;
  background: #eee;
}

.block-avatars ul li a {
  display: block;
  line-height: 0;
}

.block-avatars ul li img {
  margin: 0;
  padding: 0;
  display: block;
}